@import "../../base-scss/abstracts";

.filterContainer {
  padding: 5vw 0;
}

.title {
  margin-bottom: 4.5vw;
  font-size: 3vw;
}
.filterForm {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.formGroup {
  text-transform: capitalize;
  select {
    border: 1px solid rgba(131, 131, 131, 0.2);
    padding: 0.5vw 0.5vw;
    color: rgb(68, 68, 68);
    @include atSmall {
      padding: 2vw 2vw;
    }
  }
}
.formGroup label {
  display: block;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
  @include atSmall {
    font-size: 4vw;
  }
}
.formControl {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: #f0f0f0;
  outline: none;
  opacity: 0.8;
  border-radius: 25px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 0.8vw;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $color-primary;
    cursor: pointer;
  }
}

.sizeInputs {
  display: flex;
}
.sizeInput {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.singleExtra label {
  display: inline-block;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
