@import "../../base-scss/abstracts";

.menu {
  position: fixed;
  z-index: 10;
  top: 3.472vw;
  right: 3.472vw;
  height: 4vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  @include atSmall {
    top: 8vw;
    right: 8vw;
    left: unset;
    width: 13.333vw;
    height: 13.333vw;
  }

  .menuBar {
    height: 4vw;
    margin-right: 3.99vw;
    display: flex;
    position: relative;
    top: 0;
    z-index: 2;
    color: white;
    @include atSmall {
      display: none;
    }
  }

  .menuBarBg {
    width: 100%;
    height: 4vw;
    background-color: white;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    z-index: -1;
    //transform: scaleY(0);
  }

  .menuButtons {
    height: auto;
    margin-left: 1.042vw;
    overflow: hidden;
  }
  .menuList {
    display: flex;
  }
  .menuButton {
    height: 4vw;
    margin: 0 1.042vw;
    display: inline-block;
    cursor: pointer;
    position: relative;
    line-height: 5.833vw;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1.2vw;
      width: 100%;
      height: 1px;
      background: $color-primary;
      transform: scaleX(0);
      transform-origin: right;
      transition: $transform-primary;
    }
    &:hover {
      &:before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
  .menuSocial {
    margin: 0 1.042vw;
  }
  .socialButton {
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      svg {
        fill: $color-primary;
      }
    }
  }
  .buttonInstagram {
    width: 1.8vw;
    height: 1.8vw;
    fill: $color-white;
  }
  .menuDivider {
    width: 1px;
    height: 2.083vw;
    margin-left: 0.5vw;
    position: relative;
    top: 50%;
    background-color: $color-white;
    backface-visibility: hidden;
    transform: translateY(-50%);
  }
}

.logo {
  width: 5vw;
  height: 5vw;
  position: fixed;
  left: 2vw;
  top: 3vw;
  z-index: 100;
  opacity: 0.7;
  filter: brightness(0);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  @include atSmall {
    display: none;
  }
}
