.spinner {
  position: relative;
  width: 5vw;
  height: 5vw;
  margin-top: 5vw;
  left: 50%;
  color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 0);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
