.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  z-index: 100;
  .logo {
    width: 80px;
    display: none;
  }
  .burgerBtn {
    width: 55px;
    height: 55px;
    margin: 10px;
    background-color: #ff4338;
    border: none;
    .burgerIcon {
      fill: rgb(224, 224, 224);
      width: 100%;
      height: 60%;
    }
  }
}
