@import "../../base-scss/abstracts";

.heading {
  height: auto;
  overflow: hidden;
  margin-bottom: 5vw;
}

.titleLine {
  opacity: 1;
  display: inline-block;
  @include atSmall {
    font-size: 12.667vw;
    line-height: 12.667vw;
  }
}

.titleLineContainer {
  overflow: hidden;
  height: 7vw;
  @include atSmall {
    height: 14.667vw;
  }
}

.headingTitle {
  font-size: 6vw;
  font-weight: 400;
  line-height: 6vw;
  letter-spacing: -0.2vw;
  color: $color-black;
}
.headingText {
  position: relative;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 1.875vw;
  letter-spacing: 0.05vw;
  width: 55%;
  &::before {
    left: 0;
    top: -1vw;
    height: 1px;
    width: 30%;
    content: "";
    background: $color-primary;
    position: absolute;
  }
  @include atSmall {
    font-size: 4vw;
    line-height: 6.4vw;
    width: 100%;
  }
}
