@import "../../base-scss/abstracts";

.container {
  position: relative;
  background: #fff;
  z-index: 100;
  @include atSmall {
    padding: 0;
  }
}

.btnReserve {
  z-index: 5;
  right: 3.472vw;
  bottom: 3.472vw;
  display: block;
  position: fixed;
  color: #fff;
  cursor: pointer;
  width: 12.153vw;
  height: 3.819vw;
  background: #ff4338;
  font-weight: 600;
  font-size: 0.9vw;
  text-align: center;
  line-height: 4vw;
  letter-spacing: 0.208vw;
  text-transform: uppercase;
  @include atSmall {
    display: none;
  }
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  background-image: url(../../images/rooms-hero.jpg);
  background-size: cover;
  @include atSmall {
    height: 50vh;
  }
}
.heroTitle {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-weight: 400;
  line-height: 6vw;
  letter-spacing: -0.18vw;
  @include atSmall {
    margin-left: 0;
    font-size: 12vw;
    line-height: 12vw;
  }
}
.rooms {
  margin: 0 16.667vw;
  height: 100vh;
  @include atSmall {
    margin: 0 8vw;
  }
}
