@import "../../base-scss/abstracts";

.container {
  position: relative;
  height: 45vw;
  @include atSmall {
    height: 120vw;
    margin-bottom: 20vw;
  }
}
.slider {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.slide {
  width: 75vw;
  height: 45vw;
  position: relative;
  padding: 0 5.556vw;
  @include atSmall {
    width: 80vw;
    height: 110vw;
    padding: 5vw;
  }
}

.image {
  overflow: hidden;
  img {
    top: 0;
    left: 0;
    width: 40vw;
    height: 45vw;
    object-fit: cover;
    @include atSmall {
      width: 100%;
      height: 60vw;
    }
  }
}

.sliderCount {
  top: 80%;
  left: -5.556vw;
  height: 3.472vw;
  line-height: 3.472vw;
  display: flex;
  position: absolute;
  z-index: -1;
  transform: translateY(-50%);
  @include atSmall {
    display: none;
  }
}
.countSmall {
  line-height: 4vw;
  font-size: 1.042vw;
  &::before {
    content: "/";
    padding: 0 0.2vw;
  }
  @include atSmall {
    font-size: 2.933vw;
  }
}
.countLarge {
  margin-right: -5px;
  width: 1.9vw;
  font-size: 2.472vw;
  font-weight: 400;
  line-height: 3.958vw;
  letter-spacing: -0.061vw;
  font-family: Roos St Regis Display;
  @include atSmall {
    font-size: 7vw;
    margin-right: 10px;
  }
}

.prevArrow,
.nextArrow {
  position: absolute;
  top: 52%;
  cursor: pointer;
  transform: translateY(-50%);
  svg {
    height: 3vw;
    width: 3vw;
    path {
      fill: rgb(192, 192, 192);
    }
  }
  &:hover {
    path {
      fill: rgb(138, 136, 136);
    }
  }
  @include atSmall {
    top: 55%;
    svg {
      height: 5vw;
      width: 5vw;
    }
  }
}

.prevArrow {
  left: -3vw;
}

.nextArrow {
  right: 0;
  @include atSmall {
  }
}

.proxy {
  display: none;
  opacity: 1;
  width: 500%;
  height: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: -50%;
  z-index: 10;
  @include atSmall {
    display: inline;
  }
}
