@import "../../base-scss/abstracts";

.container {
  margin: 4vw 10vw;
  @include atSmall {
    margin: 12vw 8vw;
  }
  h1 {
    font-size: 3vw;
    font-weight: 600;
    @include atSmall {
      font-size: 6vw;
      margin-bottom: 8vw;
    }
  }
  form {
    width: 100%;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
  }
  .field {
    width: 45%;
    margin-bottom: 1.5vw;
    display: flex;
    flex-direction: column;
    @include atSmall {
      width: 100%;
      margin-bottom: 6vw;
    }
    label {
      margin-bottom: 0.5vw;
      font-size: 1vw;
      font-weight: 600;
      @include atSmall {
        font-size: 4vw;
      }
    }
    input,
    select {
      height: 3vw;
      @include atSmall {
        height: 8vw;
        width: 100%;
      }
    }
  }
  .btn {
    margin-top: 2vw;
    display: block;
    position: relative;
    color: #fff;
    cursor: pointer;
    width: 12.153vw;
    height: 3.819vw;
    background: black;
    font-weight: 600;
    font-size: 0.9vw;
    text-align: center;
    line-height: 4vw;
    letter-spacing: 0.208vw;
    text-transform: uppercase;
    svg {
      width: 2vw;
      height: 2vw;
      margin-top: 0.8vw;
      animation: spinner 1s infinite linear;
    }
    @include atSmall {
      right: 0;
      margin-top: 10vw;
      height: 13.333vw;
      width: 100%;
      font-size: 3vw;
      position: relative;
      svg {
        width: 6vw;
        height: 6vw;
        margin-top: 0.8vw;
      }
    }
  }
  .error {
    font-size: 1vw;
    color: $color-primary;
    @include atSmall {
      font-size: 4vw;
    }
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
