@import "../../base-scss/abstracts";

.mask {
  position: relative;
}

.slider {
  position: relative;
  margin-top: 6vw;
  @include atSmall {
    margin-top: 14vw;
  }
}
.sliderPrev {
  left: 0;
  z-index: 5;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.prevArrow,
.nextArrow {
  position: absolute;
  top: 70%;
  svg {
    height: 4vw;
    width: 4vw;
    @include atSmall {
      height: 8vw;
      width: 8vw;
    }
    path {
      fill: white;
    }
  }
}

.prevArrow {
  left: 0;
}

.nextArrow {
  left: 20%;
  @include atSmall {
    left: 25%;
  }
}
.sliderNext {
  right: 0;
  z-index: 5;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.sliderContainer {
  position: relative;
}
.sliderLarge {
  width: 52vw;
  height: 60vw;
  overflow: hidden;
  position: relative;
  @include atSmall {
    width: 60vw;
    height: 75.667vw;
  }
}
.sliderSmall {
  top: 50%;
  right: -11vw;
  width: 30.667vw;
  height: 41.667vw;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  @include atSmall {
    right: -25vw;
    width: 42.667vw;
    height: 42.667vw;
  }
}
.sliderCount {
  top: 50%;
  left: -5.556vw;
  height: 3.472vw;
  line-height: 3.472vw;
  display: flex;
  position: absolute;
  transform: translateY(-50%);
  @include atSmall {
    top: unset;
    left: unset;
    height: 9.333vw;
    line-height: 9.333vw;
    margin-top: 5vw;
    transform: unset;
    position: relative;
  }
}
.countSmall {
  line-height: 4vw;
  font-size: 1.042vw;
  &::before {
    content: "/";
    padding: 0 0.2vw;
  }
  @include atSmall {
    font-size: 2.933vw;
  }
}
.countLarge {
  margin-right: -5px;
  width: 1.9vw;
  font-size: 2.472vw;
  font-weight: 400;
  line-height: 3.958vw;
  letter-spacing: -0.061vw;
  font-family: Roos St Regis Display;
  @include atSmall {
    font-size: 7vw;
    margin-right: 10px;
  }
}

.imageContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.imageBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.imageCurrent {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.proxy {
  display: none;
  opacity: 1;
  width: 110%;
  height: 40%;
  transform: translate(-50%, -50%);
  //background-color: red;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 10;
  @include atSmall {
    display: block;
  }
}
